/* Header */
header {
    padding-block: 30px;
    margin-bottom: 63px;
    background-color: #FFFFFF;
    z-index: 1;
    /* position: fixed; */

}

header ul {
    column-gap: var(--gap);
}



/* hamburger button */
.menu {
    display: flex;
    list-style: none;
}


.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    margin-left: auto;
    border: none;
}


@media (max-width: 991px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0x;
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger.active span {
        content: "✖";

    }

    .hamburger span {
        display: block;
        font-size: 28px;
        transition: all 0.3s ease;
    }

    .book-btn {
        position: static;
        transform: none;
        margin: auto;
        padding: 8px 16px;
    }
}

@media (max-width: 575px) {
    .book-btn {
        display: block;
        padding: 8px 10px;


    }

 

    .menu {
        width: 100%;
        left: 0;
    }

    .hamburger {
        display: block;
        font-size: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    header .container img {
        width: 150px;
    }
}





/* Hero banner section start */
.hero-banner {
    overflow: visible;
    padding-bottom: 158px;
}

.hero-banner .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-banner .left-panel {
    max-width: 510px;
    z-index: 1;
    text-align: left;
}

.hero-banner .left-panel h1 {
    padding-top: 240px;
    z-index: 1;
}

.hero-banner .left-panel p {
    padding-right: 130px;
}

.hero-banner .left-panel ul {
    display: flex;
    justify-content: start;
    align-items: center;

    
}
.hero-banner .left-panel ul li {
    display: inline-block;
    margin-right: 5%;
}



.hero-banner .left-panel ul li:last-child {
    display: flex;
    justify-content: center;
}

.hero-banner .right-panel {
    position: relative;
    max-width: 731px;
    min-width: 600px;
    text-align: center;
}

.hero-banner .food-deliciose-image {
    position: absolute;
    top: 10px;
    left: -50px;
    width: 40vw;
    max-width: 100%;
    height: auto;
}

.hero-banner .circle-image {
    position: absolute;
    top: -200px;
    left: -170px;
    width: 50vw;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

 .hero-main-image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.hero-banner .vector-image {
    position: absolute;
    z-index: 1;
    max-width: 30%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.hero-banner .vector-top-left {
    top: -5%;
    left: 18%;
    
}

.hero-banner .vector-top-right {
    top: -12%;
    right: -10%;
}

.hero-banner .vector-bottom-right {
    bottom: 4%;
    right: -12%;
}


@media (max-width: 1200px) {
    .hero-banner .container {
        width: 100%;
        padding: 0 20px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .hero-banner .left-panel {
        max-width: 100%;
        text-align: center;
    }

    .hero-banner .left-panel h1 {
        padding-top: 40px;
        margin-bottom: 40px;
        line-height: 1.3;
    }

    .hero-banner .left-panel p {
        padding: 0;
    }

    .hero-banner .left-panel ul {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
        padding: 0;
        padding-inline: 144px;
    }

    .hero-banner .button-group {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .hero-banner .right-panel {
        max-width: 90%;
        min-width: 500px;
    }

    .hero-banner .vector-image {
        max-width: 25%;
    }

    .hero-banner .vector-top-left {
        top: -5%;
        left: 20%;
    }

    .hero-banner .vector-top-right {
        top: -12%;
        right: -8%;
    }

    .hero-banner .vector-bottom-right {
        bottom: 4%;
        right: -19%;
    }

    .hero-banner .food-deliciose-image {
        left: -212px;
        width: 38vw;
    }

    .hero-banner .circle-image {
        top: -280px;
        left: -180px;
        width: 48vw;
    }
}

@media (max-width: 992px) {
    .hero-banner .right-panel {
        max-width: 80%;
        min-width: 400px;
    }

    .hero-banner .left-panel ul {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
        padding: 0;
        padding-inline: 234px;
    }

    .hero-banner .vector-image {
        max-width: 22%;
    }

    .hero-banner .vector-top-left {
        top: -5%;
        left: 22%;
    }

    .hero-banner .vector-top-right {
        top: -10%;
        right: -6%;
    }

    .hero-banner .vector-bottom-right {
        bottom: 4%;
        right: -16%;
    }

    .hero-banner .food-deliciose-image {
        left: -180px;
        width: 35vw;
    }

    .hero-banner .circle-image {
        left: -200px;
        width: 45vw;
    }
}

@media (max-width: 767px) {
    .hero-banner .vector-image {
        max-width: 20%;
    }

    .hero-banner .left-panel ul {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
        padding: 0;
        padding-inline: 150px;
    }

    .hero-banner .vector-top-left {
        top: -4%;
        left: 25%;
    }

    .hero-banner .vector-top-right {
        top: -8%;
        right: -5%;
    }

    .hero-banner .vector-bottom-right {
        bottom: 3%;
        right: -10%;
    }

    .hero-banner .food-deliciose-image {
        left: -170px;
        width: 50vw;
    }

    .hero-banner .circle-image {
        left: -250px;
        width: 42vw;
    }
}

@media (max-width: 575px) {
    .hero-banner .left-panel {
        padding: 20px;
    }

    .hero-banner .right-panel {
        max-width: 100%;
        min-width: 280px;
    }
   

    .hero-banner .container .right-panel {
        margin-top: 30px !important;
    }

    .hero-banner .left-panel h1 {
        font-size: 40px;
    }

    .hero-banner .vector-image {
        max-width: 18%;
    }

    .hero-banner .vector-top-left {
        top: -2%;
        left: 25%;
    }

    .hero-banner .vector-top-right {
        top: -7%;
        right: -4%;
    }

    .hero-banner .vector-bottom-right {
        bottom: 0%;
        right: -6%;
    }

    .hero-banner .food-deliciose-image {
        top: -50px;
        left: -80px;
        width: 60vw;
    }

    .hero-banner .circle-image {
        left: -250px;
        width: 40vw;
    }
}
/* Hero banner section end */







/* Footer top Start*/

.container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: .62rem;
    background: url('../images/footer_top_section_img.svg') no-repeat center center/cover;

}

.text-content {
    z-index: 2;
    width: 80%;
    max-width: 65%
}


.form-container {
    z-index: 2;
    width: 65%;
}

.form-group {
    background: var(--color-white);
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-right: 6.25px;
    width: 100%;
}

.form-group input {
    flex: 1;
    padding: 20px 20px;
    border: none;
    outline: none;
    font-size: var(--font-size-18);
}

.form-group button {
    padding: .75rem 1.25rem;
    border: none;
    background: #E86A33;
    color: var(--color-white);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border-radius: .62rem;
    white-space: nowrap;
    margin-left: 1rem;
}

.form-group button:hover {
    background: var(--color-accent);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-image {
        height: 300px;
    }

    .text-content h2 {
        font-size: 2.25rem;
    }

    .form-container {
        max-width: 75%;
    }

    .form-group input {
        padding: 20px;
        font-size: 14px;
    }

    .form-group button {
        padding: 1rem 1rem;
        font-size: 14px;
        border-radius: 5px;
    }
}

@media (max-width: 575px) {
    .container-image {
        height: 250px;
    }

    .text-content h2 {
        font-size: 1.5rem;
    }

    .form-container {
        width: 90%;
    }

    .form-group {
        border-radius: 10px;
    }

    .form-group input {
        padding: 1rem 1rem;
        font-size: 12px;
    }

    .form-group button {
        max-width: 50%;
        border-radius: 5px;
        padding: 8px;
    }
}

/* Footer top end */



/* Footer Bottom background Image */

.footer-bottom {
    position: relative;
    overflow: hidden;
}

.footer-bottom .container {
    display: grid;
    grid-template-columns: 40% 30% 20%;
    gap: 5%;
    align-items: start;
    padding-top: 40px;

}

.footer-bottom::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 58%;
    transform: translateX(-50%) rotate(-74deg);
    width: 100%;
    height: 400px;
    background: url('../images/setting_icon.png') no-repeat center;
    filter: opacity(20%);
    z-index: -1;
}

@media (max-width: 768px) {
    .footer-bottom::after {
        width: 70vw;
        max-width: 600px;
        max-height: 300px;
        bottom: -5%;
    }
}

/* Footer*/
.footer-bottom .left-panel {
    grid-column: span 1;
    max-width: 100%;
}

.footer-bottom .left-panel img {
    max-width: 90%;
    margin-bottom: 2%;
}

.footer-bottom .footer-hours {
    display: grid;
    grid-template-columns: 37% 37% 26%;
    gap: 8%;
    margin-top: 20px;
    margin-right: 10px;
}


footer .footer-bottom p a {
    text-decoration: underline;
}



.footer-bottom .hours-item {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-bottom .hours-item .time {
    margin-top: 5px;
    line-height: var(--line-height-29);
}

.footer-bottom .hours-item .day {
    line-height: var(--line-height-29);
}


.footer-bottom .middle-panel {
    display: flex;
    margin-top: var(--margin-top-32);

}

.footer-bottom .nav-section {
    flex-grow: 1;
}


.footer-bottom .footer-right-panel ul {
    margin-right: 5%;
    margin-top: 1.1rem;


}

.footer-bottom .footer-right-panel ul li {
    display: inline-block;
    margin-right: 5%;
}

.footer-copyright {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 100%;
    margin-bottom: 234px;

}


.footer-copyright .links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}



/* Responsive footer */
@media (max-width: 992px) {
    .footer-bottom .container {
        grid-template-columns: 100%;
        gap: 1px;
        text-align: center;
    }

    .footer-bottom .middle-panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1px !important;
        padding: 1px !important;
    }

    .footer-bottom .left-bottom {
        margin-block: 20px !important;
    }

    .middle-panel .nav-section ul.line-h-40 {
        line-height: 1.8 ! important;
    }

    .footer-right-panel.mt-32 {
        margin-top: 20px !important;
    }


    .footer-bottom .footer-hours {
        display: grid;
        grid-template-columns: 37% 37% 26%;
        padding-inline: 50px;

    }

    .footer-right-panel {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        width: 100% !important;
    }

    .footer-right-panel ul {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 15px !important;
        padding: 0 !important;
        margin: 0 auto !important;
        list-style: none !important;
        width: 100% !important;
    }

    .footer-right-panel ul li {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }


    .footer-copyright {
        flex-wrap: wrap;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .footer-copyright .links {
        gap: 10px;
        margin-left: 0;
        margin-top: 10px;
    }
}


/* For screens 575px and below */
@media (max-width: 575px) {
    .footer-bottom .container {
        grid-template-columns: 100%;
        gap: 5px;
        text-align: center;
    }

    .footer-bottom .middle-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom .left-bottom {
        margin-block: 15px !important;
    }

    .middle-panel .nav-section ul.line-h-40 {
        line-height: 1.6 !important;
    }

    .middle-panel .nav-section {
        padding-bottom: 15px;
    }

    .footer-right-panel.mt-32 {
        margin-top: 10px !important;
    }

    .footer-bottom .footer-hours {
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        text-align: center;
        align-items: center;
    }

    .footer-bottom .hours-item {
        text-align: center;
        line-height: 1.6 ! important;

    }

    .left-bottom strong {
        font-size: 12px;
    }


    .footer-right-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .footer-right-panel ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        list-style: none;
        width: 100% !important;
    }

    .footer-right-panel ul li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-right-panel ul li a img {
        width: 40px;
        height: auto;
    }


    .footer-copyright {
        flex-wrap: wrap;
        font-size: 10px;
        text-align: center;
        margin-bottom: 15px;
        justify-content: center;
    }

    .footer-copyright .links {
        gap: 10px;
        margin-top: 8px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}