* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {

    /* Fonts */
    --family-Primary: "David Libre", sans-serif;
    --family-secondary: "Inter", sans-serif;

     /* Colors */
    --color-accent: #EA6D27;
    --color-white: #fff;
    --color-light-gray: #F3F4F4;
    --color-dark-black: #101A24;
    --color-text-body: #5C6574;

     /* Typography */
    --font-size-70: 4.375rem;
    --font-size-60: 3.75rem;
    --font-size-50: 3.15rem;
    --font-size-18: 1.15rem;
    --font-size-20: 1.25rem;
    --font-size-12: .75rem;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* Spacing */
    --gap: 2.81rem;
    --gap-17: 1.1rem;
   
    
    
    /* Margin Buttons */
    --margin-button-76: 4.75rem;
    --margin-button-69: 4.31rem;
    --margin-button-57: 3.562rem;
    --margin-button-47: 2.93rem;
    --margin-button-30: 1.875rem;
    --margin-button-21: 1.31rem;
    --margin-button-18: 1.12rem;
    --margin-button-15: .92rem;
    --margin-button-10: .625rem;
    --margin-button-10: .625rem;
   
   
    --margin-right-77: 4.812rem;
    --margin-right-53: 3.312rem;
    --margin-right-32: 2rem;
    --margin-right-16: 1rem;
    --margin-right-10: .625rem;

    --margin-top-64: 4rem;
    --margin-top-32: 2rem;
    --margin-top-20: 1.25rem;
    --margin-top-16: 1.rem;


    --margin-left-68: 4.25rem;
    --margin-left-32: 2rem;
    --margin-left-20: 1.25rem;
    
    --line-height-72: 4.5rem;
    --line-height-58: 3.625rem;
    --line-height-40: 2.5rem;
    --line-height-29: 1.81rem;


}

html {
    font-size: 16px;
}

body {
    font-family: var(--family-secondary);
    scroll-behavior: smooth;
    line-height: 1.6;
    color: var(--color-text-body);
}

@media (max-width: 767px) {

    html,
    body {
        font-size: 12px;
    }
}

/* Backgrounds start */

.bg-light-gray {
    background: var(--color-light-gray);
}

.bg-dark-black {
    background: var(--color-dark-black);
}

.text-dark {
    color: var(--color-dark-black);
}

.text-white{
    color: var(--color-white);
}

/* Backgrounds End */



/* Typography Start */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family-Primary);
    color: var(--color-dark-black);
    font-weight: 700;
}

.text-70 {
    font-size: var(--font-size-70);
}

.text-60 {
    font-size: var(--font-size-60);
}

.text-50 {
    font-size: var(--font-size-50);
}


.text-18 {
    font-size: var(--font-size-18);
}

.text-20 {
    font-size: var(--font-size-20);
}

.text-12 {
    font-size: var(--font-size-12);
}

/* Margin-button*/

.m-button-76 {
    margin-bottom: var(--margin-button-76);
}

.m-button-69 {
    margin-bottom: var(--margin-button-69);
}
.m-button-57 {
    margin-bottom: var(--margin-button-57);
}

.m-button-47 {
    margin-bottom: var(--margin-button-47);
}

.m-button-30 {
    margin-bottom: var(--margin-button-30);
}

.m-button-21 {
    margin-bottom: var(--margin-button-21);
}

.m-button-18 {
    margin-bottom: var(--margin-button-18);
}

.m-button-15 {
    margin-bottom: var(--margin-button-15);
}


.m-button-10 {
    margin-bottom: var(--margin-button-10);
}
/* Margin Right*/

.mr-77{
    margin-right: var(--margin-right-77);
}

.mr-53{
    margin-right: var(--margin-right-53);
}

.mr-16{
    margin-right: var(--margin-right-16);
}

.mr-32{
    margin-right: var(--margin-right-32);
}
.mr-10{
    margin-right: var(--margin-right-10);
}


/* margin top*/

.mt-94{
    margin-top: 94px;   
}

.mt-82{
    margin-top: 82px;
}

.mt-64{
    margin-top: var(--margin-top-64);
}

.mt-32{
    margin-top: var(--margin-top-32);
}

.mt-20{
    margin-top: var(--margin-top-20);
}

.mt-16{
    margin-top: var(--margin-top-16);
}


/* margin left*/

.m-l-68{
    margin-left: var(--margin-left-68);
}

.m-l-32{
    margin-left: var(--margin-left-32);
}

.m-l-20{
    margin-left: var(--margin-left-20);
}


/* Line Height */
.line-h-72{
    line-height: var(--line-height-72);
}

.line-h-58{
    line-height: var(--line-height-58);
}
.line-h-40{
    line-height: var(--line-height-40);
}


.line-h-29{
    line-height: var(--line-height-29);
}

/* .display-inline-block {
    display: var(--display-inline-block);
} */

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-semi-bold {
    font-weight: var(--font-weight-semi-bold);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-regular {
    font-weight: var(--font-weight-regular);
}

.gap {
    gap: var(--gap); 
}

.gap-17{
    gap: var(--gap-17)
}

/* Typography End */


/*  Container */

.container {
    max-width: 1160px;
    margin-inline: auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 940px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 550px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding-inline: 2rem;
    }
}

/* Container End */


/*Buttons & links Start */

a {
    transition: .4s all;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--color-accent);
    font-family: var(--family-Primary);
    color: var(--color-white);
    text-align: center;
    line-height: auto;
    font-size: var(--font-size-20);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
}


.btn:hover {
    background-color: #c75a1d;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}


.btn-dark {
    background-color: var(--color-dark-black);
    margin-right: 25px;
   
}

.box-shadow-y {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-b {
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

/*Buttons & links End */


/* Utility Classes */

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-block: auto;
}

/* Utility Classes End */

/* Images */

/* img {
    max-width: 100%;
    height: auto;
}  */

.position-relative {
    position: relative;

  }

  /* .flex-column {
    display: flex;
    flex-direction: column;
  }
   */